*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(37, 80, 173), rgb(75, 219, 255));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  h1 { 
   font-family:  Arial, Helvetica, sans-serif; 
    font-size: 20px;
    margin: 0;  
    color: rgb(7, 0, 68);
    }
  h2 {
       font-family:  Arial, Helvetica, sans-serif; 
       font-size: 18px; margin: 0;
       color: rgb(7, 0, 68);
        font-weight: 400; }
  a, p 
  { font-family: 'Open Sans', sans-serif; 
    font-size: 13px; line-height:1.5; 
    color: rgb(7, 0, 68);
    }
  body { 
      display: flex;
       align-items: center; 
       height: 100vh; }
  ul { 
      list-style-type: none; 
      padding: 0; 
      display: flex; }
  ul a { 
      color: #222; text-decoration: none;
       font-size: 24px; }
  .body { 
      display: flex; 
      flex-direction: row; 
      justify-content: space-around;
       font-family:Arial, Helvetica, sans-serif; 

       width: 460px; 
      margin: 3rem auto; 
      align-items: flex-start; }
  .left { 

      flex: 1 0 calc(40%); 

    }
  .left img { 
      width: 160px; height: auto; border-radius: 100px 
    }
  .right { 
      flex: 1 0 calc(60%); 

    }

  
  