@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(37, 80, 173), rgb(75, 219, 255));
  color: white;
  padding-left: 20px;
  padding-right: 90px;
  font-family: Roboto;
}

@media only screen and (max-width: 600px) {
  .img-mg {
    margin-top: 10%;
    float: none;
    display: block;
  }

  .main {
    text-align: none;
    /* align-items: ; */
  }
  p {
    width: 90%;
  }

  body {
    padding-right: 20px;
  }

  h2 {
    font-size: 14px;
    margin: 0;
    color: black;
    font-weight: 600;
  }
}

@media only screen and (min-width: 600px) {
  img {
    margin-top: 0%;
    float: right;
  }
}

h1 {
  font-size: 32px;
  margin: 0;
  color: black;
}

.sub {
  font-size: 1.2em;
  margin: 0;
  color: black;
  font-weight: 600;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: black;
  padding-right: 0%;
  width: 100%;
}

/* a img {
  size: 90px;
} */

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

ul a {
  color: #222;
  text-decoration: none;
  font-size: 24px;
}
i {
  margin-right: 20px;
}

.main {
  flex: 1 0 calc(60%);
  text-align: justify;
  align-items: center;
}
