@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(37, 80, 173), rgb(75, 219, 255));
    color: white;
    padding-left: 20px;
    padding-right: 90px;
    font-family: Roboto;
}


@media only screen and (max-width: 950px) {
    .main {
       padding-left: 30%;
       padding-right: 30%;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .main {
       padding-left: 0;
       padding-right: 0;
    }
 }
h1 {
    font-size: 32px;
    margin: 0;
    color: black;
}

h2 {
    font-size: 18px;
    margin: 0;
    color: black;
    font-weight: 600;

}

p {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    padding-right: 0%;
    width: 145%;

}

a{
    font-size: 13px;
    line-height: 1.5;
    color:black;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

ul a {
    color: #222;
    text-decoration: none;
    font-size: 24px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin: 3rem auto;
    align-items: flex-start;
}

.mg-img{

    flex: 1 0 calc(40%);

}

.mg-img img{
    width: 160px;
    height: auto;
    border-radius: 100px
}

.main {
    flex: 1 0 calc(60%);
    text-align: justify;

}

